::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e7e1e1;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full height */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002f5e;
  color: white;
  height: 80px;
  padding: 10px 20px;
}

.navigation {
  display: flex;
  gap: 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 2px 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
}

.logo_name {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}

.Logout-button {
  background-color: #ff4d4d;
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.fare-balance {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 14px 14px 8px -6px rgba(0, 0, 0, 0.36);
  text-align: center;
  margin-bottom: 80px;
}

.balance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.balance-info {
  text-align: left;
}

.balance-info h2 {
  margin: 0;
  font-size: 24px;
}

.balance-info p {
  margin: 5px 0 0;
  font-size: 16px;
}

.balance-class {
  color: red;
}

.eye-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.fare-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.fare-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.fare-action img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.Buy_Load {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.Buy_Load img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.Check_Track {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.Check_Track img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.Book_Trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
}

.Book_Trip img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.Get_Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.Get_Card img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.exclusive {
  margin-bottom: 20px;
}

.exclusive h3 {
  text-align: left;
  color: #00215e;
  margin-bottom: 10px;
}

.news h3 {
  text-align: left;
  color: #00215e;
  margin-bottom: 1.5rem;
}

.exclusive-items {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  padding-left: 30px;
  border-radius: 20px;
  margin-bottom: 80px;
  cursor: pointer;
  flex: 1;
}

.exclusive-item {
  text-align: center;
}

.eBuy_Load {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.eBuy_Load img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.Check_Bal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.Check_Bal img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.Book_Trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.Book_Trip img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.Get_Reward {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.Get_Reward img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.footer {
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  background-color: #002f5e;
  padding: 0.7em;
  color: white;
}

.footer button {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
.footer button img {
  height: 60px;
  cursor: pointer;
}

@media (max-width: 1050px) {
  nav {
    display: none;
  }

  .footer {
    display: flex;
  }
}

@media (max-width: 480px) {
  .footer {
    display: flex;
    position: sticky;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #002f5e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7em 0;
    z-index: 1000;
  }

  .fare-actions {
    justify-content: center;
    gap: 2px;
  }

  .exclusive-items {
    justify-content: center;
    gap: 10px;
  }

  .logo_name {
    font-size: 15px;
  }

  .logo img {
    width: 80px;
  }
}

/* Idle Modal */
.idle-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.idle-popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

#logoutButton {
  background: #ff4d4d;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
